<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
                {{ title }} | bApp
            {% endblock title %}
        </title>
        {% block bootstrap %}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
                  rel="stylesheet"
                  integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
                  crossorigin="anonymous">
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
                    crossorigin="anonymous"></script>
            <link rel="stylesheet"
                  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
        {% endblock bootstrap %}
        {% block extrahead %}
        {% endblock extrahead %}
    </head>
    <body>
        {% block header %}
            <header class="bg-light py-3 border-bottom">
                <nav class="navbar navbar-expand-lg bg-light">
                    <div class="container d-flex">
                        <span class="navbar-brand">
                            {% block header_title %}
                                bApp
                            {% endblock header_title %}
                        </span>
                        <button class="navbar-toggler"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#navbarNav"
                                aria-controls="navbarNav"
                                aria-expanded="false"
                                aria-label="Navigation umschalten">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            {% if user.is_authenticated %}
                                {% include "includes/nav.html" %}
                            {% else %}
                                <ul class="navbar-nav ms-auto">
                                    <li class="nav-item my-1">
                                        <a class="nav-link" href="{% url 'signup' %}"><i class="bi bi-person-plus"></i> Registrieren</a>
                                    </li>
                                    <li class="nav-item my-1">
                                        <a class="nav-link" href="{% url 'login' %}"><i class="bi bi-box-arrow-in-right"></i> Anmelden</a>
                                    </li>
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </nav>
            </header>
        {% endblock header %}
        {% block alerts %}
        {% endblock alerts %}
        {% block breadcrumbs %}
        {% endblock breadcrumbs %}
        <main class="{% block mainclass %}{{ mainclass|default:"container" }}{% endblock mainclass %}">
            {% block messages %}
                <div id="messages-container" class="messages my-3">
                    {% for message in messages %}
                        <div class="alert alert-dismissible{% if message.tags == 'error' %} alert-danger{% else %} alert-{{ message.tags }}{% endif %}"
                             role="alert">
                            {{ message }}
                            <button type="button"
                                    class="btn-close"
                                    data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                        </div>
                    {% endfor %}
                </div>
            {% endblock messages %}
            {% block main %}
                {{ content }}
            {% endblock main %}
        </main>
        {% block extrascript %}
        {% endblock extrascript %}
    </body>
</html>
