{% extends "base.html" %}
{% load static django_bootstrap5 %}
{% block extrahead %}
    {{ block.super }}
    {{ form.media }}
    <style>
    input.form-control[type="number"], input.form-control[type="date"], input.form-control[type="text"] {
        max-width: 200px;
    }
    </style>
    <script src="{% static 'web/js/delete.js' %}"></script>
    <script src="{% static 'web/js/restore.js' %}"></script>
{% endblock extrahead %}
{% block alerts %}
    {% if object.is_deleted %}<div class="alert alert-warning text-center" role="alert">Dieses Objekt wurde gelöscht und befindet sich im Papierkorb.</div>{% endif %}
{% endblock alerts %}
{% block main %}
    <h1 class="m-2">
        {{ opts.verbose_name }}
        {% if add %}
            erstellen
        {% else %}
            bearbeiten
        {% endif %}
    </h1>
    {% block form %}
        <form method="post" id="change-form" class="mb-5 px-3">
            {% block csrf_token %}
                {% csrf_token %}
            {% endblock csrf_token %}
            {% block form_fields %}
                {% bootstrap_form form %}
            {% endblock form_fields %}
            {% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1">{% endif %}
        </form>
    {% endblock form %}
    {% block submit_row %}
        <div id="submit-row"
             class="d-flex justify-content-center gap-3 fixed-bottom bg-primary-subtle py-1">
            {% block submit_row_buttons %}
                {% bootstrap_button button_type="submit" content="Speichern" form="change-form" %}
                {% if not add %}
                    {% if object.is_deleted and restore_url %}<a href="{{ restore_url }}" class="btn btn-success restore-btn">Wiederherstellen</a>{% endif %}
                    {% if not object.is_deleted and delete_url %}
                        <form method="post" action="{{ delete_url }}">
                            {% csrf_token %}
                            <input type="submit" class="btn btn-danger" id="delete-btn" value="Löschen">
                        </form>
                    {% endif %}
                {% endif %}
            {% endblock submit_row_buttons %}
        </div>
    {% endblock submit_row %}
{% endblock main %}
