{% extends "base.html" %}
{% load actions %}
{% block main %}
    <h1>Dashboard</h1>
    <p class="mb-3">
        Willkommen auf deinem Dashboard,
        {% if request.user.first_name %}
            {{ request.user.first_name }}
        {% else %}
            {{ request.user.username }}
        {% endif %}
        !
    </p>
    <div class="d-flex gap-3">
        <div class="col">
            {% block current %}
            <div class="recent-nachweis border rounded mb-3 p-3">
                <h2>Aktueller Nachweis</h2>
                {% if current_nachweis %}
                    <p>{{ current_nachweis }}</p>
                    <a href="{% url 'nachweis_change' current_nachweis.pk %}" class="btn btn-outline-primary"><i class="bi bi-pencil"></i> Nachweis bearbeiten</a>
                {% else %}
                    <p>Du hast für den aktuellen Zeitraum noch keinen Nachweis erstellt!</p>
                    <a href="{% url 'nachweis_add' %}" class="btn btn-outline-success"><i class="bi bi-file-earmark-plus"></i> Nachweis erstellen</a>
                {% endif %}
            </div>
            {% endblock current %}
            {% block missing %}
            {% if missing_nachweise %}
            <div class="missing-nachweise border rounded mb-3 p-3">
                <h2>Fehlende Nachweise</h2>
                <p>Es fehlen Nachweise für die folgenden Zeiten:</p>
                <table class="table table-striped table-hover">
                <thead>
                    <tr><th>Datum/Zeitraum</th><th class="text-center">Nachweis hinzufügen</th></tr>
                </thead>
                <tbody>
                {% for row in missing_nachweise|slice:":5" %}
                    <tr>
                        <td>
                            <span>{{ row.start }}{% if row.start != row.end %} - {{ row.end }}{% endif %}</span>
                        </td>
                        <td class="d-flex justify-content-center">
                            {% render_action action request row %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
                <div class="d-flex justify-content-between align-items-center px-3">
                    <span><span class="fw-semibold">{{ missing_nachweise|length }}</span> fehlende Nachweise:</span>
                    <a href="{% url 'missing' %}" class="btn btn-outline-primary"><i class="bi bi-file-earmark-text"></i> Übersicht: fehlende Nachweise</a>
                </div>
            </div>
            {% endif %}
            {% endblock missing %}
        </div>
        <div class="col">
            {% block recent %}
            <div class="last-nachweise border rounded mb-3 p-3">
                <h2>Letzte Nachweise</h2>
                {% for nachweis in last_nachweise %}
                    <div class="row">
                        <p>{{ nachweis }}</p>
                    </div>
                {% empty %}
                    <p>Du hast noch keine Nachweise erstellt!</p>
                {% endfor %}
                <a href="{% url 'nachweis_list' %}" class="btn btn-outline-primary"><i class="bi bi-file-earmark-text"></i> Zur Nachweis-Übersicht</a>
            </div>
            {% endblock recent %}
        </div>
    </div>
{% endblock main %}
