{% extends "base.html" %}
{% load list actions django_bootstrap5 static %}
{% block extrahead %}
    {{ block.super }}
    <script src="{% static 'web/js/remove_empty_fields.js' %}"></script>
    {{ search_form.media }}
{% endblock extrahead %}
{% block main %}
    <h1>
        {% block page_title %}{{ title }}{% endblock %}
    </h1>
    {% block searchform %}
        <div class="p-3">
            {% if search_form %}
                <form method="get"
                      id="search_form"
                      class="search-form"
                      style="max-width: 500px">
                    {% bootstrap_field search_form.q required_css_class="fw-semibold" %}
                    <div class="collapse {% if search_form.data %}show{% endif %}"
                         id="search_fields">
                        {% for field in search_form %}
                            {% if not forloop.first %}
                                {% bootstrap_field field required_css_class="fw-semibold" %}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <button type="submit" class="btn btn-primary">Suchen</button>
                    <button type="button"
                            class="btn btn-secondary {% if not search_form.data %}collapsed{% endif %}"
                            data-bs-toggle="collapse"
                            data-bs-target="#search_fields"
                            aria-expanded="{% if search_form.is_bound %}true{% else %}false{% endif %}"
                            aria-controls="search_fields">Suchfilter anzeigen</button>
                </form>
            {% endif %}
        </div>
    {% endblock searchform %}
    {% block results %}
        <table class="table table-striped table-hover">
            <thead>
                {% block result_table_head %}
                    <tr>
                        {% for header in headers %}<th class="sticky-top z-2">{{ header }}</th>{% endfor %}
                        {% if actions %}
                            <th class="sticky-top z-2" style="width: 6%;">Aktionen</th>
                        {% endif %}
                    </tr>
                {% endblock result_table_head %}
            </thead>
            <tbody>
                {% block result_table_results %}
                    {% for row in result_rows %}
                        <tr>
                            {% for k,v in row.items %}
                                {% if k in list_display %}
                                    <td class="td-{% colname list_display forloop.counter0 %}{% colclasses col_classes list_display forloop.counter0 %}">{{ v }}</td>
                                {% endif %}
                            {% endfor %}
                            <td>
                                {% for action in actions %}
                                    <div class="my-2">{% render_action action request row %}</div>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                {% endblock result_table_results %}
            </tbody>
        </table>
    {% endblock results %}
    {% block sticky-bottom %}
        <div class="d-flex position-sticky start-0 bottom-0 p-3 border rounded bg-primary-subtle z-3">
            {% block changelist_buttons %}
            {% endblock changelist_buttons %}
            {% block pagination %}
                <div class="ms-auto pagination-container">
                    <nav aria-label="Search results pages" class="d-flex align-items-center">
                        <span class="me-3">Seitenauswahl:</span>
                        <ul class="pagination mb-0">
                            {% for i in page_range %}
                                {% if i == page_obj.number %}
                                    {% with is_current=True %}
                                        <li class="page-item">
                                            <a class="page-link disabled" href="#">{{ i }}</a>
                                        </li>
                                    {% endwith %}
                                {% elif i == "…" %}
                                    <li class="page-item">
                                        <span class="page-link disabled">…</span>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </nav>
                </div>
            {% endblock pagination %}
        </div>
    {% endblock sticky-bottom %}
{% endblock main %}
