{% extends "list.html" %}
{% load actions %}
{% block result_table_results %}
    {% for start, end in result_rows %}
        <tr>
            {% if is_daily %}
                <td>{{ start|date:"D, d. F Y" }}</td>
            {% else %}
                <td>{{ start }} - {{ end }}</td>
            {% endif %}
            <td>
                {% for action in actions %}
                    <div class="my-2">{% render_action action request start=start %}</div>
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
{% endblock result_table_results %}
