{% extends "changelist.html" %}
{% load static list actions django_bootstrap5 querystring %}
{% block extrahead %}
    {{ block.super }}
    <script src="{% static 'web/js/finish.js' %}"></script>
{% endblock extrahead %}
{% block quick_search_fields %}
    <div class="d-flex justify-content-between">
        <div class="d-flex gap-3 align-items-center w-100">
            <div class="form-floating">
                <input type="text"
                       name="q2"
                       class="form-control"
                       style="min-width: 400px"
                       placeholder=""
                       id="id_q2"
                       value="{{ request.GET.q2|default:'' }}">
                <label for="id_q2">🔍 Textsuche</label>
            </div>
            <div class="form-floating">
                <input type="date"
                       name="datum2"
                       class="form-control"
                       placeholder="Datum"
                       id="id_datum2"
                       value="{{ request.GET.datum2|default:'' }}">
                <label for="id_datum2">Datum</label>
            </div>
        </div>
        <div class="d-flex gap-3 align-items-center w-100 justify-content-end">
            <span>Nachweise nach Status filtern:</span>
            <div>
                <a href="{% nachweis_status request 'unfinished' %}"
                   class="btn btn-outline-primary {% if request.GET.unfinished %}active{% endif %}"
                   title="Nur Nachweise anzeigen, die noch nicht fertig geschrieben sind">nicht fertig</a>
                <input type="hidden" name="unfinished" value="{{ request.GET.unfinished }}" >
            </div>
            <div>
                <a href="{% nachweis_status request 'unsubmitted' %}"
                   class="btn btn-outline-primary {% if request.GET.unsubmitted %}active{% endif %}"
                   title="Nur Nachweise anzeigen, die noch nicht eingereicht wurden">nicht eingereicht</a>
                <input type="hidden" name="unsubmitted" value="{{ request.GET.unsubmitted }}" >
            </div>
            <div>
                <a href="{% nachweis_status request 'unsigned' %}"
                   class="btn btn-outline-primary {% if request.GET.unsigned %}active{% endif %}"
                   title="Nur Nachweise anzeigen, die noch nicht unterschrieben wurden">nicht unterschrieben</a>
                <input type="hidden" name="unsigned" value="{{ request.GET.unsigned }}" >
            </div>
        </div>
    </div>
{% endblock quick_search_fields %}
{% block result_table_results %}
    {% for row in result_rows %}
        <tr>
            {% for k,v in row.items %}
                {% if k in list_display %}
                    <td class="td-{% colname list_display forloop.counter0 %}{% colclasses col_classes list_display forloop.counter0 %}">{{ v }}</td>
                {% endif %}
            {% endfor %}
            {% if actions %}
                <td>
                    <div class="d-grid gap-2">
                        {% for action in actions %}
                            {% render_action action request row %}
                        {% endfor %}
                    </div>
                </td>
            {% endif %}
        </tr>
    {% endfor %}
    {% block finish_modal %}
        <div class="modal fade"
             id="finishModal"
             tabindex="-1"
             aria-labelledby="finishModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="finishModalLabel">Nachweis abschließen</h5>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post" class="eingereicht-form mb-3">
                            {% csrf_token %}
                            <p>Bitte wählen Sie aus, bei wem der Nachweis eingereicht wurde:</p>
                            <select class="form-select"
                                    aria-label="Eingereicht bei"
                                    name="eingereicht_bei">
                                {% for choice in eingereicht_choices %}<option value="{{ choice.0 }}">{{ choice.1 }}</option>{% endfor %}
                            </select>
                            <hr>
                            <p>Oder einen neuen Namen eingeben:</p>
                            <input type="text"
                                   class="form-control"
                                   aria-label="Neuer Wert"
                                   name="eingereicht_bei">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
                        <button type="button"
                                class="btn btn-primary confirm-finish-btn"
                                id="confirmFinish"
                                data-finish-url="{% url 'finish_nachweis' %}">Bestätigen</button>
                    </div>
                </div>
            </div>
        </div>
    {% endblock finish_modal %}
{% endblock result_table_results %}
