{% extends "list.html" %}
{% block extrahead %}
    <style>
    .data-row {
        max-height: 113px;
    }
    </style>
{% endblock extrahead %}
{% block mainclass %}
    container-fluid px-5
{% endblock mainclass %}
{% block results %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="sticky-top z-2">Jahr</th>
                <th class="sticky-top z-2">Woche</th>
                <th class="sticky-top z-2">Zeitraum</th>
                <th class="sticky-top z-2">Betriebliche Tätigkeit</th>
                <th class="sticky-top z-2">Berufsschule</th>
                <th class="sticky-top z-2">Fertig Geschrieben</th>
                <th class="sticky-top z-2">Eingereicht bei</th>
                <th class="sticky-top z-2">
                    Unter-
                    <br>
                    schrieben
                </th>
                <th class="sticky-top z-2">Aktionen</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in object_list %}
                <tr {% if not obj.unterschrieben %}class="table-warning data-row"{% endif %}>
                    <td class="td-jahr">{{ obj.jahr }}</td>
                    <td class="td-ausbildungswoche">{{ obj.ausbildungswoche }}</td>
                    <td class="td-zeitraum">
                        <span class="text-nowrap">{{ obj.datum_start }}</span>
                        <br>
                        <span class="text-nowrap">{{ obj.datum_ende }}</span>
                    </td>
                    <td class="td-betrieb"
                        data-bs-toggle="popover"
                        data-bs-trigger="hover focus"
                        data-bs-placement="right"
                        data-bs-content="{{ obj.betrieb }}">{{ obj.betrieb|linebreaksbr|truncatewords:30 }}</td>
                    <td class="td-schule"
                        data-bs-toggle="popover"
                        data-bs-trigger="hover focus"
                        data-bs-placement="right"
                        data-bs-content="{{ obj.schule }}">{{ obj.schule|linebreaksbr|truncatewords:10 }}</td>
                    <td class="td-fertig text-center{% if obj.fertig %} table-success{% else %} table-danger{% endif %}">
                        {% if obj.fertig %}
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 width="24"
                                 height="24"
                                 viewBox="0 0 24 24"
                                 fill="none"
                                 stroke="currentColor"
                                 stroke-width="2"
                                 stroke-linecap="round"
                                 stroke-linejoin="round"
                                 class="text-success feather feather-check-circle">
                                <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
                                <polyline points="22 4 12 14.01 9 11.01"></polyline>
                            </svg>
                        {% else %}
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 width="24"
                                 height="24"
                                 viewBox="0 0 24 24"
                                 fill="none"
                                 stroke="currentColor"
                                 stroke-width="2"
                                 stroke-linecap="round"
                                 stroke-linejoin="round"
                                 class="text-danger feather feather-x-circle">
                                <circle cx="12" cy="12" r="10"></circle><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line>
                            </svg>
                        {% endif %}
                    </td>
                    <td class="td-eingereicht-bei">{{ obj.eingereicht_bei }}</td>
                    <td class="td-unterschrieben text-center{% if obj.unterschrieben %} table-success{% else %} table-danger{% endif %}">
                        {% if obj.unterschrieben %}
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 width="24"
                                 height="24"
                                 viewBox="0 0 24 24"
                                 fill="none"
                                 stroke="currentColor"
                                 stroke-width="2"
                                 stroke-linecap="round"
                                 stroke-linejoin="round"
                                 class="text-success feather feather-check-circle">
                                <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
                                <polyline points="22 4 12 14.01 9 11.01"></polyline>
                            </svg>
                        {% else %}
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 width="24"
                                 height="24"
                                 viewBox="0 0 24 24"
                                 fill="none"
                                 stroke="currentColor"
                                 stroke-width="2"
                                 stroke-linecap="round"
                                 stroke-linejoin="round"
                                 class="text-danger feather feather-x-circle">
                                <circle cx="12" cy="12" r="10"></circle><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line>
                            </svg>
                        {% endif %}
                    </td>
                    <td>
                        <div class="my-2">
                            <a href="{% url 'nachweis_change' obj.pk %}"
                               class="btn btn-sm btn-primary w-100">Bearbeiten</a>
                        </div>
                        <div class="my-2">
                            <a href="{% url 'nachweis_print' obj.pk %}"
                               class="btn btn-sm btn-primary w-100">Drucken</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock results %}
{% block extrascript %}
    <script>
    /* Initialize Bootstrap popovers */
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
    return new bootstrap.Popover(popoverTriggerEl)
    })
    </script>
{% endblock extrascript %}
